@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: muli, sans-serif !important;
  font-size: 18px;
}

.ttls_section {
  font-family: "Montserrat", sans-serif;
}
.ttls_section.fw600 {
  font-weight: 600;
}
.ttls_section.fw700 {
  font-weight: bold;
}

.c_primary {
  color: #002c81;
}

.c_secundary {
  color: #19a8f3;
}

.alink {
  color: #19a8f3;
  font-weight: 600;
  text-decoration: none;
}

.btn_crowd {
  background: #44d371;
  color: #ffffff;
  border-radius: 2rem;
  font-size: 0.9rem;
  padding: 0.5rem 1.5rem;
}
.btn_crowd:hover {
  color: #ffffff;
  background: #35c061;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: #333333;
}

.wrapper_project_description {
  padding: 3.5rem 0;
}

.wrapper_project_details {
  background: #f0f2f7;
  padding: 4rem 1.25rem;
}
.wrapper_project_details .drawer_list_details {
  max-width: 725px;
  margin: 0 auto;
}
.wrapper_project_details .drawer_list_details .line_row {
  border-bottom: 1px solid #333;
  position: relative;
  min-height: 65px;
}
.wrapper_project_details .drawer_list_details .line_row:last-child {
  border: none;
}
.wrapper_project_details .drawer_list_details .line_row .ico_list {
  position: absolute;
  left: -2%;
  text-align: center;
  top: 50%;
  width: 50px;
  display: block;
  padding: 0;
  transform: translateY(-50%);
}
.wrapper_project_details .drawer_list_details .line_row .ico_list img {
  height: 30px;
}
.wrapper_project_details .drawer_list_details .line_row .col_first {
  padding-left: 3rem;
}

.wrapper_market_study {
  background: #002c81;
  color: #eeeeee;
  padding: 4rem 0;
}
.wrapper_market_study .col-md-3 {
  border-right: 1px solid #19a8f3;
  margin-bottom: 1.25rem;
}
.wrapper_market_study .col-md-3:last-child {
  border: none !important;
}
.wrapper_market_study .box_item_market {
  min-height: 150px;
  text-align: center;
}
.wrapper_market_study .box_item_market .firt_p {
  min-height: 60px;
}
.wrapper_market_study .box_item_market .sec_p {
  padding-bottom: 2rem;
}

.wrapper_accordion {
  padding: 3rem 0 2.25rem;
}
.wrapper_accordion .accordion-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  justify-content: center;
  border: 0;
  outline: none;
  padding: 2rem 1rem;
}
.wrapper_accordion .accordion-button:focus {
  outline: none;
  box-shadow: none;
}
.wrapper_accordion .accordion-button::after {
  margin-left: 10px;
}
.wrapper_accordion .accordion-button.c_secundary {
  color: #19a8f3 !important;
}
.wrapper_accordion .accordion-button:not(.collapsed) {
  color: #002c81;
  background-color: inherit;
  box-shadow: none;
}
.wrapper_accordion .drawer_iframe_video {
  max-width: 600px;
  margin: 0 auto;
}
.wrapper_accordion .drawer_iframe_video iframe {
  width: 100% !important;
}
.wrapper_accordion .accordion-item {
  border: 0;
  border-bottom: 1px solid #dddddd;
}
.wrapper_accordion .box_icos_steps img {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.wrapper_table {
  margin-bottom: 5rem;
}
.wrapper_table tbody tr {
  height: 100px;
}
.wrapper_table tbody,
.wrapper_table td,
.wrapper_table tfoot,
.wrapper_table th,
.wrapper_table thead,
.wrapper_table tr {
  width: 25%;
}

.wrapper_schemes {
  background: #f0f2f7;
  padding: 5rem 0 5rem;
}
.wrapper_schemes .drawer_schemes_info .item_guarantee {
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
  max-width: 250px;
}
.wrapper_schemes .drawer_schemes_info .item_guarantee img {
  height: 100px;
  margin-bottom: 1rem;
}
.wrapper_schemes .drawer_schemes_info .item_guarantee .guarantee_number {
  font-weight: 700;
  font-size: 4rem;
  color: #19a8f3;
  line-height: 1;
}

.wrapper_risks {
  background: #f0f2f7;
  padding-bottom: 5rem;
}
.wrapper_risks .wrapper_drop_risks {
  margin-bottom: 5rem;
}
.wrapper_risks .wrapper_drop_risks .drop_risks {
  margin: 0 auto;
  margin-top: 4rem;
  max-width: 600px;
  display: flex;
}
.wrapper_risks .wrapper_drop_risks .drop_risks .item_drop {
  border: 3px solid #4cd275;
  border-image: linear-gradient(to right, #4cd275, #1aa9f1) 1;
  border-right: 0;
  width: 100%;
  text-align: center;
  padding: 0.2rem;
}
.wrapper_risks .wrapper_drop_risks .drop_risks .item_drop:last-child {
  border-right: 3px solid #1aa9f1;
}
.wrapper_risks .wrapper_drop_risks .drop_risks .item_drop.is_selected {
  background: #4cd275;
  background: linear-gradient(90deg, #4cd275 0%, #1aa9f1 100%);
  color: #ffffff;
  font-weight: 600;
  position: relative;
}
.wrapper_risks .wrapper_drop_risks .drop_risks .item_drop.is_selected::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 25px solid #4cd294;
  position: absolute;
  top: -90%;
  left: 50%;
  transform: translateX(-50%);
}
.wrapper_risks .bar_risks {
  margin: 0 auto;
  margin-top: 1rem;
  max-width: 600px;
  background: #4cd275;
  background: linear-gradient(90deg, #4cd275 0%, #1aa9f1 100%);
  height: 40px;
  border-radius: 3rem;
  position: relative;
}
.wrapper_risks .bar_risks::before {
  content: "Excelente";
  position: absolute;
  bottom: -80%;
  left: -5px;
}
.wrapper_risks .bar_risks::after {
  content: "Regular";
  position: absolute;
  bottom: -80%;
  right: -5px;
}

@media screen and (min-width: 1400px) {
  .container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 990px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper_market_study .col-md-3:nth-child(2) {
    border: 0;
  }
}
@media screen and (max-width: 575px) {
  .wrapper_market_study .col-md-3 {
    border: 0;
  }
  .wrapper_market_study .col-md-3:last-child .box_item_market {
    border: 0;
  }
  .wrapper_market_study .box_item_market {
    border: 0;
    border-bottom: 1px solid #19a8f3;
    min-height: auto;
  }
  .wrapper_market_study .box_item_market .firt_p {
    min-height: auto;
  }
  .wrapper_market_study .box_item_market .sec_p {
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  .wrapper_project_details .drawer_list_details .line_row {
    justify-content: center;
    flex-direction: column;
    min-height: 90px;
  }
  .wrapper_project_details .drawer_list_details .line_row .col_first {
    font-weight: 600;
  }
  .wrapper_project_details .drawer_list_details .line_row .col {
    flex: none;
    width: 100%;
    padding-left: 3.5rem;
    line-height: 1.25;
  }
}
@media screen and (max-width: 420px) {
  .wrapper_accordion .accordion-button {
    justify-content: flex-start;
    font-size: 1.5rem;
  }
  .wrapper_accordion .accordion-button::after {
    margin-left: auto;
  }
}